[jenkins-slave:children]
tester
builder
ansible-worker
testenv-renter

[windows:children]
tester
builder
testbed
drive

[linux:children]
ansible-worker
jenkins-server
testenv-renter

[ansible-worker]

[drive]

[jenkins-server]

[zuul]

[tester]

[builder]

[testenv-renter]

[testbed]

[contrail-controller]
